@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('/Roboto Fonts/Roboto-Black.woff2') format('woff2');
  }
  @font-face {
    font-family: 'RobotoI';
    font-weight: 700;
    font-style: italic;
    src: url('/Roboto Fonts/Roboto-BoldItalic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Ysabeau SC';
    font-weight: 900;
    /* font-style: normal; */
    src: url('/Ysabeau Fonts/YsabeauSC-Black.woff') format('woff');
  }
  @font-face {
    font-family: 'YsabeauR';
    font-weight: 400;
    /* font-style: normal; */
    src: url('/Ysabeau Fonts/YsabeauSC-Regular.woff') format('woff');
  }
  h1 {
    font-family: 'RobotoI', serif;
  }
  h2 {
    font-family: 'Ysabeau SC', serif;
  }
  p {
    font-family: 'RobotoI', serif;
  }
}
